@using static Todoapp.Database.ToDoList
@model Todoapp.Database.ToDoList
@{
        ViewData["Title"] = "Add Task";
}

<h1>Add Task</h1>

<hr />
@if (ViewBag.Message != null)
{
    <div class="form-group">
        <div class="col-md-10">@ViewBag.Message</div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TaskText" class="control-label">Task Text</label>
                <input asp-for="TaskText" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TaskList" class="control-label">Task List</label>
                <input asp-for="TaskList" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateTimeFinal" class="control-label">Due time</label>
                <input asp-for="DateTimeFinal" class="form-control" />
            </div>
            <div class="form-check">
                <label asp-for="PublicTask" class="form-check-label">Public task</label>
                <input asp-for="PublicTask" class="form-check-input" type="checkbox" />
            </div>

            <div class="md-3">
                <label asp-for="TaskLevel" class="">Task Level</label>
            </div>
            @foreach (TaskLevelEnum level in Enum.GetValues(typeof(TaskLevelEnum)))
            {
                if (level == 0)
                {
                    <div class="md-3">
                        <label>
                            <input type="radio" asp-for="TaskLevel" value="@Convert.ToInt32(level)" checked />
                            @level
                        </label>
                    </div>
                }
                else
                {
                    <div class="md-3">
                        <label>
                            <input type="radio" asp-for="TaskLevel" value="@Convert.ToInt32(level)" />
                            @level
                        </label>
                    </div>
                }
            }
            <div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back ToDo List</a>
</div>
