
@model IEnumerable<Todoapp.Database.ToDoList>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Task Text
                </th>
                <th>
                    Finished on
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskText)
                    </td>
                    <td>
                        @item.DateTime.ToString("dd.MM.yyyy HH:mm")
                    </td>

                </tr>
            }
        </tbody>
    </table>
