@{
    @inject IConfiguration config;
    var conf = new Todoapp.Configuration.TodoConfiguration(config);
    ViewData["Title"] = conf.GetAppName();//"TodoApp Home";

}

<div class="text-center">
    <h1 class="display-4">Welcome to @conf.GetAppName()  </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

