@{
    ViewData["Title"] = @ApplicationName.AppName;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ApplicationName.AppName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

