
@{
    ViewData["Title"] = "LoggedIn";
}

@using Microsoft.AspNetCore.Session;
@inject IHttpContextAccessor Accessor

@if (@Accessor.HttpContext.Session.GetString("UserId") != null)
{
    <h1>User @Accessor.HttpContext.Session.GetString("FirstName") has been logged in</h1>
}
